<template>
  <v-card min-height="130" class="d-flex justify-center align-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-center mt-5">
        <v-icon color="warning" x-large>
          mdi-alert
        </v-icon>
      </div>
      <v-card-title class="d-flex justify-center">
        <span class="text-center text-h6 font-weight-bold">
          ATENCION
        </span>
      </v-card-title>

      <v-card-text class="d-flex flex-column">
        <div class="d-flex justify-center">
          <span class="text-subtitle-1 text-center">
            Usted esta por cambiar su plan <br /><span class="font-weight-bold accent--text text-h6">{{ plan == 2 ? 'FULL/MULTIPANTALLA' : 'MÓVIL' }}</span> <br /> por el nuevo plan <br /> <span class="font-weight-bold accent--text text-h6">{{ plan == 2 ? 'MÓVIL' : 'FULL/MULTIPANTALLA' }}</span>
          </span>
        </div>

        <div class="d-flex justify-center mt-10">
          <span class="text-h6 font-weight-bold">
            ¿Está seguro que desea continuar?
          </span>
        </div>
        
      </v-card-text>

      <v-card-actions class="d-flex justify-center mb-5">
        <v-btn class="text-subtitle-2" small @click="close()">
            CANCELAR
        </v-btn>

        <v-btn class="text-subtitle-2" small color="primary" @click="submit()">
            CONTINUAR
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'ChangePlanModal',
  props: {
    plan: {
      Type: Number,
      default: null
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    submit() {
      this.$emit('submit')
      this.close()
    }
  }
}
</script>