<template>
  <v-card min-height="130" class="d-flex justify-center align-center">
    <div class="d-flex flex-column">
      <div class="d-flex justify-center mt-5">
        <v-icon color="error" large>
          mdi-alert
        </v-icon>
      </div>
      <v-card-title class="d-flex justify-center">
        <span class="text-center text-subtitle-1">
          {{ title }}
        </span>
      </v-card-title>

      <v-card-text v-if="body.lenght">
        <span class="text-center text-subtitle-1">
          {{ body }}
        </span>
      </v-card-text>

      <v-card-actions class="d-flex justify-center mb-5">
        <v-btn class="text-subtitle-2" small @click="close()">
            CANCELAR
        </v-btn>

        <v-btn class="text-subtitle-2" small color="error" @click="submit()">
            CONTINUAR
        </v-btn>
      </v-card-actions>
    </div>
  </v-card>
</template>

<script>
export default {
  name: 'VerifyModal',
  props: {
    title: {
      type: String,
      default: '¿Está seguro que desea continuar?'
    },
    body: {
      type: String,
      default: ''
    }
  },
  methods: {
    close() {
      this.$emit('close')
    },
    submit() {
      this.$emit('submit')
      this.close()
    }
  }
}
</script>