<template>
    <div>
        <v-container class="d-flex justify-center align-center full_container activar-info-container">
            <div class="d-flex flex-column mt-10">
                <v-icon color="info" class="mb-4" x-large>
                    mdi-information-outline
                </v-icon>

                <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text mb-5">
                    MAÑANA FINALIZA TU PRUEBA GRATIS DE CCCGO.
                </span>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Te invitamos a suscribirte con un abono menusal de solo <strong>$1600</strong> final.
                </p>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Podrás acceder de manera simultánea desde 3 dispositivos móviles (celulares o tablets) y desde 2
                    smart TVs, con Android TV*.
                </p>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Tu suscripción mensual incluye Pack HBO PREMIUM y Pack Fútbol!
                </p>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Hacé click en continuar, e identificate con las mismas credenciales que registraste para tu prueba
                    gratuita.
                </p>

                <nuxt-link to="/">
                    <v-btn
                        class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-md-subtitle-1 text-subtitle-2 mt-3"
                        :loading="loading" color="dark-primary" style="width: 100%;">
                        CONTINUAR
                    </v-btn>
                </nuxt-link>

                <p class="white--text text-md-subtitle-1 text-subtitle-2 text-center mt-5">
                    (*) Si no tenés un smart TV con Android TV, mandános un <a href="#" class="warning--text"
                        @click="redirectWhatsapp()">Whatsapp</a> y te contaremos cómo adquirir un equipo que convierta tu TV
                    digital en un Smart TV con Android TV.
                </p>
            </div>
        </v-container>
    </div>
</template>

<script>
export default {
    name: 'Activar',
    methods: {
        redirectWhatsapp() {
            if (process.client) {
                /* window.location.href = `https://api.whatsapp.com/send?phone=${process.env.WHATSAPP_SUPPORT}` */
                window.location.href = `https://api.whatsapp.com/send?phone=5493816344658`
            }
        },
    }
}
</script>

<style scoped>
.activar-info-container {
    max-width: 800px;
    overflow-x: hidden;
}
</style>