<template>
    <v-container
        :style="$auth.user.customerAccount.expireDt ? 'height: auto; display: flex; align-items: center; justify-content: center;' : ''">
        <div v-if="overlay">
            <v-overlay v-if="overlay" z-index="1000">
                <v-progress-circular indeterminate size="80" color="secondary"></v-progress-circular>
            </v-overlay>
        </div>

        <div v-else-if="lowUser">
            <div class="d-flex flex-column">
                <div class="d-flex justify-center mb-2">
                    <v-icon color="warning" size="40px">
                        mdi-account-alert
                    </v-icon>
                </div>

                <div class="d-flex justify-center">
                    <span class="white--text font-weight-bold text-h6">
                        Tu usuario se encuentra actualmente dado de baja en el sistema.
                    </span>
                </div>

                <div class="d-flex justify-center">
                    <span class="white--text font-weight-bold text-h6">
                        Si deseas volver a activar tu cuenta, por favor comunicate con la empresa.
                    </span>
                </div>
            </div>
        </div>

        <div v-else-if="(!$auth.user.customerAccount.expireDt && !lowUser) || (isFree && checkExpireDate()) || freeUserConfirmed">
            <v-row>
                <v-col v-if="isFree" cols="12" class="d-flex justify-center">
                    <span class="cartel-prueba">
                        PERIODO DE PRUEBA
                    </span>
                </v-col>
                <v-col cols="12" class="d-flex justify-center">
                    <div style="max-width: fit-content;">
                        <div class="d-flex justify-center">
                            <span class="font-weight-light text-subtitle-2 text-sm-subtitle-1 white--text">
                                {{ `${firstName()} ${lastName()}` }}
                            </span>
                        </div>
                        <div class="d-flex justify-center">
                            <span class="text-sm-h5 text-h6 white--text font-weight-bold">
                                Mi CCCGO
                            </span>
                        </div>
                    </div>
                </v-col>

                <v-col cols="12" class="d-flex justify-center">
                    <div class="d-flex justify-center flex-row">
                        <!-- <v-btn class="white--text mr-2 elevation-0 rounded-lg font-weight-bold text-subtitle-2" color="success" @click="comprarStick()">
                                <span>
                                    Comprar Smartstick TV
                                </span>
                                </v-btn> -->

                        <v-btn v-if="isFree" class="white--text mr-2 elevation-0 rounded-lg font-weight-bold text-subtitle-2"
                            color="success" @click="confirmSuscription()">
                            <span>
                                Suscribirme a CCCGO
                            </span>
                        </v-btn>

                        <v-btn class="white--text elevation-0 rounded-lg font-weight-bold text-subtitle-2"
                            color="accent" @click="verifyModal = true">
                            <span>
                                Cancelar suscripcion
                            </span>
                        </v-btn>
                    </div>
                </v-col>
            </v-row>

            <v-row class="d-flex justify-center pt-10">


                <v-btn v-for="(menuItem, index) in buttons" :key="index" text
                    class="menu_button mx-md-2 mx-0 py-md-10 py-0" @click="changeComponent(menuItem.id)">
                    <v-container class="pa-0">
                        <v-row no-gutters>
                            <v-col cols="12" class="d-flex justify-center">
                                <v-icon :color="menuItem.color" :x-large="!$vuetify.breakpoint.xsOnly"
                                    :large="$vuetify.breakpoint.xsOnly">
                                    {{ menuItem.icon }}
                                </v-icon>
                            </v-col>

                            <v-col v-if="!$vuetify.breakpoint.xsOnly" cols="12" class="d-flex justify-center pt-2">
                                <span
                                    :class="['text-capitalize font-weight-regular white--text font-weight-light pt-1', $vuetify.breakpoint.smOnly ? 'text-caption' : '']">
                                    {{ menuItem.name }}
                                </span>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-btn>

            </v-row>

            <v-row>
                <v-col cols="12" class="d-flex justify-center">
                    <mi-cuenta v-if="showComponent === 1" />
                    <servicios v-else-if="showComponent === 2" />
                    <dispositivos v-else />
                </v-col>
            </v-row>
        </div>

        <div v-else-if="!isFree">
            <div class="d-flex flex-column">
                <div class="d-flex justify-center">
                    <span class="white--text font-weight-bold text-h6">
                        Tu cuenta se encuentra actualmente desactivada.
                    </span>
                </div>

                <div class="d-flex justify-center">
                    <span class="white--text font-weight-bold text-h6">
                        ¿Deseas volver a activarla?
                    </span>
                </div>

                <div class="d-flex justify-center flex-row">
                    <v-btn class="text-subtitle-1 font-weight-bold ma-2 elevation-0" @click="logout()">
                        CERRAR SESION
                    </v-btn>

                    <v-btn class="text-subtitle-1 font-weight-bold ma-2 elevation-0" color="secondary"
                        @click="reactivate()">
                        REACTIVAR
                    </v-btn>
                </div>
            </div>
        </div>

        <div v-else>
            <div class="d-flex flex-column">
                <h4 class="white--text font-weight-bold text-h6">
                    Tu periodo de prueba caduco.
                </h4>
                <v-btn class="text-subtitle-1 font-weight-bold ma-2 elevation-0" color="secondary" to="/">
                    VOLVER AL INICIO
                </v-btn>
            </div>
        </div>

        <v-dialog v-model="verifyModal" persistent max-width="500">
            <VerifyModal @close="verifyModal = false" @submit="cancelSubscription" />
        </v-dialog>

        <v-dialog v-model="changePlanModal" persistent max-width="500">
            <ChangePlanModal :plan="packetType()" @close="changePlanModal = false" @submit="changePlan" />
        </v-dialog>

        <v-snackbar v-model="snackbar" :timeout="4000" right top :color="color" elevation="24">
            {{ message }}
        </v-snackbar>

    </v-container>
</template>

<script>
import { mapGetters, Store } from 'vuex'

import MiCuenta from '~/components/Shared/MiCuenta'
import Servicios from '~/components/Shared/Servicios'
import Dispositivos from '~/components/Shared/Dispositivos'
import VerifyModal from '~/components/Shared/VerifyModal'
import ChangePlanModal from '~/components/Shared/ChangePlanModal'

export default {
    name: 'Cuenta',
    scrollToTop: true,
    middleware: 'auth',
    async beforeMount() {
        const id = this.$route.params.id
        await this.$store.dispatch('customer/getDevices', id)
        await this.$store.dispatch('customer/isFreeUser', id)
            .then(async (res) => {
                if (res !== 'free') {
                    // usuario normal
                    await this.$store.dispatch('utils/getCurrentDate').then(async () => {
                        await this.$store.dispatch('customer/isActiveUser', id).then((response) => {
                            if (response !== 'success') {
                                console.log('Usuario esta de baja.')
                                this.lowUser = true
                            }
                            this.overlay = false
                        }).catch((error) => {
                            console.log('cached error:', error)
                            this.overlay = false
                        })
                    })
                    this.lowUser = false
                    this.overlay = false
                    console.log('EL USUARIO NO ES FREE!!')
                    this.isFree = false
                } else {
                    console.log('EL USUARIO ES FREE!')
                    // usuario free
                    this.isFree = true
                    this.overlay = false
                }
            })
            .catch((error) => {
                console.log('cached error:', error)
                this.overlay = false
                this.showSnackbar(error)
            })
    },
    created() {
        if (this.changeFlag) {
            console.log('CHANGE FLAG TRUE')
            window.location.reload()
        } else {
            console.log('NOT CHANGE FLAG')
        }
        console.log('????:', this.$auth.user)
    },
    components: { MiCuenta, Servicios, Dispositivos, VerifyModal, ChangePlanModal },
    computed: {
        ...mapGetters('utils', ['todayDate']),
        ...mapGetters('customer', ['changeFlag', 'freeUserConfirmed'])
    },
    data() {
        return {
            showComponent: 1,
            trialMessage: '',
            isFree: false,
            lowUser: false,
            overlay: true,
            snackbar: false,
            message: '',
            color: '',
            verifyModal: false,
            changePlanModal: false,
            buttons: [
                {
                    id: 1,
                    icon: 'mdi-account-circle',
                    click: 'test',
                    name: 'Mi cuenta',
                    color: 'secondary-light',
                },
                /* {
                  id: 2,
                  icon: 'mdi-play-circle-outline',
                  click: 'test',
                  name: 'Mis servicios',
                  color: 'secondary-light'
                }, */
                {
                    id: 3,
                    icon: 'mdi-cellphone-link',
                    click: 'test',
                    name: 'Mis dispositivos',
                    color: 'secondary-light'
                }
            ]
        }
    },
    methods: {
        comprarStick() {
            if (process.client) {
                window.location.href = 'https://mpago.la/2V7VMAP'
            }
        },
        async confirmSuscription() {
            this.overlay = true
            await this.$store.dispatch('customer/confirmSuscription', this.$route.params.id)
                .then((res) => {
                    if (res === 'confirmed') {
                        this.showSnackbar('Suscripcion confirmada!')
                        this.isFree = false
                        this.$router.push('/bienvenida')
                    }
                })
                .catch((error) => {
                    this.showSnackbar(error)
                })
            this.overlay = false
        },
        changeComponent(id) {
            this.showComponent = id
        },
        user() {
            return this.$auth.user ? this.$auth.user.customer.customerId : ''
        },
        packetType() {
            return this.$auth.user ? this.$auth.user.customer.autoProvCountStationary : ''
        },
        firstName() {
            return this.$auth.user ? this.$auth.user.customer.firstName ? this.$auth.user.customer.firstName : '' : ''
        },
        lastName() {
            return this.$auth.user ? this.$auth.user.customer.lastName ? this.$auth.user.customer.lastName : '' : ''
        },
        async cancelSubscription() {
            this.overlay = true
            await this.$store.dispatch('customer/cancelSubscription', { id: this.$store.$auth.user.customer.customerId, status: 'I' }).then((res) => {
                this.$store.dispatch('customer/setWorkPhone', { userID: this.$store.$auth.user.customer.customerId, value: 'BAJA-WEB' })
                this.showSnackbar('¡Su suscripción se ha cancelado con éxito!', 'success')
                this.$auth.logout()
            }).catch((error) => {
                this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
            })
            this.overlay = false
        },
        async changePlan() {
            this.overlay = true
            await this.$axios.post(`${process.env.baseURL}/change_user_plan_pontis.php`, { user: this.user(), currentPlan: this.packetType().toString() }).then((response) => {
                this.showSnackbar('¡Su cambio de plan se realizó con éxito!', 'success')
                this.$router.go()
            }).catch((error) => {
                this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
            })
            this.overlay = false

        },
        checkExpireDate() {
            if (this.isFree) {
                const expireDtString = this.$store.$auth.user.customerAccount.expireDt
                let expireDateFormat = expireDtString.replace(/(\d+[/])(\d+[/])/, '$2$1')
                let expireDtDate = new Date(expireDateFormat)
                const today = new Date()
                return today <= expireDtDate
            }
        },
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        },
        async logout() {
            await this.$auth.logout()
            this.$router.push('/')
        },
        async reactivate() {
            this.overlay = true
            const id = this.$store.$auth.user.customer.customerId
            await this.$axios.get(`https://goccc-1d61d.firebaseio.com/users/${id}/contador_cancelacion.json`).then(async (res) => {
                if (res) {
                    if (res.data > 1) { // ya reactivo una vez, no puede volver a reactivar
                        this.$router.push('/cuenta/fallo-reactivar')
                    } else { // primera vez que reactiva
                        await this.$axios.post(`${process.env.baseURL}/set_status.php`, { id: this.$store.$auth.user.customer.customerId, status: 'A' }).then(async (res) => {
                            this.$store.dispatch('customer/setWorkPhone', { userID: this.$store.$auth.user.customer.customerId, value: 'ACTIVO' })
                            await this.showSnackbar('¡Su cuenta se ha reactivado con éxito!', 'success')
                            window.location.reload()
                        }).catch((error) => {
                            this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
                        })
                    }
                } else {
                    this.showSnackbar('Su cuenta no fue encontrada. Por favor comuniquese con la empresa para regularizar su situación.', 'error')
                }
            }).catch((error) => {
                this.showSnackbar(error, 'error')
            })
            /* await this.$axios.post(`${process.env.baseURL}/set_status.php`, { id: this.$store.$auth.user.customer.customerId, status: 'A' }).then(async (res) => {
              await this.showSnackbar('¡Su cuenta se ha reactivado con éxito!', 'success')
              window.location.reload()
            }).catch((error) => {
              this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
            }) */
            this.overlay = false
        }
    }
}
</script>

<style scoped>
.cartel-prueba {
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
}

@media screen and (min-width: 700px) {
    .menu_button {
        min-width: 200px !important;
    }
}
</style>
