<template>
  <v-container class="d-flex justify-center align-center full_container">
    <v-overlay v-if="overlay" z-index="0">
      <v-progress-circular
        indeterminate
        size="80"
        color="white"
      ></v-progress-circular>
    </v-overlay>

    <v-card class="form_container" flat>
      <v-card-title class="white--text pb-15">
        <v-row no-gutters>
          <v-col cols="12" class="d-flex justify-center">
            <span class="text-sm-h6 text-subtitle-1 font-weight-bold secondary-light--text">
              Cambio de contraseña
            </span>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text class="px-0">
        <v-form ref="form" v-model="valid">
          <v-row no-gutters>
            <v-col v-if="!$route.query.token" cols="12" class="pb-2">
              <span class="white--text text-body-2 text-sm-body-1">
                Ingresá tu contraseña actual
              </span>
            </v-col>
            <v-col v-if="!$route.query.token" cols="12">
              <v-text-field
                v-model="current_password"
                label="Contraseña"
                :type="show_password ? 'text' : 'password'"
                :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                background-color="white"
                class="rounded-lg"
                solo
                :rules="[rules.required]"
                @click:append="show_password = !show_password"
              />
            </v-col>
            <v-col cols="12" class="pb-2">
              <span class="white--text text-body-2 text-sm-body-1">
                Escribí una nueva contraseña
              </span>
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field 
                v-model="data.new_password"
                label="Nueva contraseña"
                :type="show_password ? 'text' : 'password'"
                :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                background-color="white"
                class="rounded-lg"
                solo
                :rules="[rules.required]"
                @click:append="show_password = !show_password"
              />
            </v-col>
            <v-col cols="12" class="pb-2">
              <span class="white--text text-body-2 text-sm-body-1">
                Repetí tu nueva contraseña
              </span>
            </v-col>
            <v-col cols="12" class="pb-0">
              <v-text-field 
                v-model="repeat_password"
                label="Confirmacion"
                :type="show_password ? 'text' : 'password'"
                :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'"
                background-color="white"
                class="rounded-lg"
                solo
                :rules="[rules.required]"
                @click:append="show_password = !show_password"
              />
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-row>
          <v-col cols="12" class="d-flex justify-center px-1">
            <v-btn class="text-capitalize px-15 elevation-0 rounded-lg py-7 text-subtitle-1 font-weight-bold" block :loading="loading" color="primary" @click="$route.query.token ? reestablecerPass() : cambiarPass()">
              Guardar
            </v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>

    <v-snackbar
      v-model="snackbar"
      :timeout="3000"
      right
      top
      :color="color"
      elevation="24"
    >
      {{ message }}
    </v-snackbar>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'CambiarPassword',
  data() {
    return {
      current_password: '',
      repeat_password: '',
      data: {
        new_password: '',
        id: this.$auth.loggedIn ? this.$auth.user.customer.customerId : ''
      },
      loading: false,
      overlay: false,
      snackbar: false,
      message: '',
      token: '',
      color: '',
      show_password: false,
      rules: {
        required: value => !!value || 'Campo requerido'
      }
    }
  },
  created() {
    if (this.$route.query.token) {
      this.token = this.$route.query.token
    }
  },
  computed: {
    ...mapGetters('customer', ['devices'])
  },
  methods: {
    async cambiarPass() {
      this.loading = true
      if (this.current_password === this.$auth.user.customerAccount.password) {
        if (this.data.new_password === this.repeat_password) {
          await this.$axios.post(`${process.env.baseURL}/cambiar_pass.php`, this.data)
            .then((res) => {
              this.showSnackbar('La contraseña fue actualizada correctamente. Redirigiendo...', 'success')
              this.deactivate()
            })
            .catch((err) => {
              this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
            })
        } else {
            this.showSnackbar('Las contraseñas no coinciden', 'deep-purple accent-4')
        }
      } else {
        this.showSnackbar('Contraseña actual incorrecta', 'deep-purple accent-4')
      }
      this.loading = false
    },
    async reestablecerPass() {
      this.loading = true
      if (this.data.new_password === this.repeat_password) {
        const payload = {
          new_password: this.data.new_password,
          id: this.$route.query.token
        }
        await this.$axios.post(`${process.env.baseURL}/cambiar_pass.php`, payload).then(res => {
          this.showSnackbar('La contraseña fue actualizada correctamente. Redirigiendo...', 'success')          
          setTimeout(() => {
            /* this.$router.push('/') */
            this.openStore()
          }, 3300)

        }).catch(err => {
          this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
        })
      } else {
        this.showSnackbar('Las contraseñas no coinciden', 'deep-purple accent-4')
      }      
      this.loading = false
    },
    async deactivate() {
      const devices = []
      if (this.devices.length) {
        this.devices.forEach(device => {
          devices.push(device.deviceId)
        })
      }
      await this.$axios.post(`${process.env.baseURL}/eliminar_devices.php`, { user: this.$auth.user.customer.customerId, devices: devices }).then(res => {
        this.overlay = true
        setTimeout(() => {
          this.overlay = false
          this.$auth.logout()
        }, 1500)
      })
    },
    showSnackbar(body, color) {
      this.snackbar = true
      this.color = color
      this.message = body
    },
    openStore() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'Mac OS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
        window.location.replace('market://details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      }
    }
  }
}
</script>

<style scoped>
.login_container {
  min-width: 360px;
}

@media screen and (max-width: 600px) {
  .login_container {
    width: 100%;
  } 
}
</style>