<template>
  <v-container class="d-flex justify-center align-center full_container flex-column">
    <div class="d-flex flex-column">
      <span class="white--text font-weight-bold text-h5 text-center">
        Ya reactivaste tu cuenta una vez.
      </span>

      <span class="white--text font-weight-bold text-h5 text-center">
        Para poder reactivar tu cuenta nuevamente, por favor comunicate con la empresa.
      </span>
    </div>

    
      <v-btn class="px-15 elevation-0 mt-10 rounded-lg py-7 font-weight-bold white--text text-subtitle-1" color="dark-primary" to="/">
        FINALIZAR
      </v-btn>
  </v-container>
</template>

<script>
export default {}
</script>