<template>
    <v-container class="d-flex justify-center flex-column align-center full_container">
        <v-overlay v-if="loading" z-index="1000">
            <v-progress-circular indeterminate size="80" color="secondary"></v-progress-circular>
        </v-overlay>
        <div v-else>
            <div v-if="!errors" class="d-flex flex-column">
                <LastStepMultiPantalla v-if="nuevoUsuario.tipogo === 'full'" :user="nuevoUsuario"
                    :loading.sync="loading" :pass="tempPassword" @finalizar="openStore" />
                <LastStepMovil v-else :user="nuevoUsuario" :pass="tempPassword" :loading.sync="loading"
                    @finalizar="openStore" />
            </div>
            <v-snackbar v-model="snackbar" :timeout="timeout" right top :color="color" elevation="24">
                <span class="font-weight-bold">
                    {{ message }}
                </span>
            </v-snackbar>
        </div>
    </v-container>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import LastStepMultiPantalla from '../../components/Register/LastStepMultiPantalla.vue'
import LastStepMovil from '../../components/Register/LastStepMovil.vue'

export default {
    name: 'Finalizar',
    components: { LastStepMultiPantalla, LastStepMovil },
    computed: {
        ...mapGetters('register', ['nuevoUsuario', 'tempPassword', 'freeUserFlag', 'tempNewFreeId'])
    },
    data() {
        return {
            showPassword: false,
            loading: false,
            errors: false
        }
    },
    created() {
        this.loading = true
        this.finalizar()
        this.loading = false
    },
    methods: {
        ...mapMutations('register', ['SET_NUEVO_USUARIO', 'SET_TEMP_PASSWORD']),
        async finalizar() {
            let finalData = {}
            if (this.freeUserFlag) {
                finalData = {
                    usuario: this.nuevoUsuario.usuario,
                    password: this.tempPassword,
                    mail: this.nuevoUsuario.email,
                    calle: this.nuevoUsuario.domicilio,
                    nro_calle: this.nuevoUsuario.numero_calle,
                    municipio: this.nuevoUsuario.municipio,
                    dni: this.nuevoUsuario.dni,
                    celular: this.nuevoUsuario.celular,
                    apellido: this.nuevoUsuario.apellido,
                    nombre: this.nuevoUsuario.nombre,
                    expireDate: this.nuevoUsuario.expireDate,
                    tipogo: this.nuevoUsuario.tipogo,
                    ip: this.nuevoUsuario.ip,
                }
            } else {
                finalData = {
                    tipogo: this.nuevoUsuario.tipogo,
                    ip: this.nuevoUsuario.ip,
                    password: this.tempPassword,
                    mail: this.nuevoUsuario.email,
                    dni: this.nuevoUsuario.dni,
                    expireDate: this.nuevoUsuario.expireDate,
                    celular: this.nuevoUsuario.celular,
                    usuario: this.nuevoUsuario.usuario
                }
            }

            await this.$axios.post(this.freeUserFlag ? `${process.env.baseURL}/bs/creausufree.php` : `${process.env.baseURL}/bs/creausu.php`, finalData).then(async (response) => {
                if (response.data.result === 'success') {
                    if (this.freeUserFlag) {
                        this.$axios.post(`${process.env.baseURL}/set_expire_date_pontis.php`, {
                            date: this.nuevoUsuario.expireDate,
                            id: finalData.usuario
                        }).then((r) => {
                            console.log('expire date set')
                        }).catch((e) => {
                            this.errors = true
                            this.showSnackbar(error)
                            console.log('error expdt:', e)
                        })
                        await this.$store.dispatch('register/saveNewFreeUser', finalData).then((res) => {
                            const newLatestId = parseInt(this.tempNewFreeId)
                            this.$axios.patch(`https://goccc-1d61d.firebaseio.com/free_users.json`, { latest_id: newLatestId }).then((response) => {
                            }).catch((err) => {
                                console.log('error:', err)
                            })
                        }).catch((error) => {
                            this.showSnackbar(error)
                            this.errors = true
                        })
                    } else {
                        await this.$store.dispatch('register/saveNewUser', finalData).then(async (res) => {
                            console.log('ok!')
                        }).catch((error) => {
                            this.showSnackbar(error)
                            this.errors = true
                        })
                    }
                } else {
                    this.showSnackbar('Ocurrio un error.');
                    this.errors = true
                }
            }).catch((error) => {
                this.errors = true
                this.showSnackbar(error)
            })
        },
        goBack() {
            this.SET_NUEVO_USUARIO(this.nuevoUsuario)
            this.SET_TEMP_PASSWORD(this.tempPassword)
            this.$router.push('/registro/seleccion-paquete')
        },
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        },
        openStore() {
            var userAgent = window.navigator.userAgent,
                platform = window.navigator.platform,
                macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
                windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
                iosPlatforms = ['iPhone', 'iPad', 'iPod'],
                os = null;

            if (macosPlatforms.indexOf(platform) !== -1) {
                os = 'Mac OS';
                window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
            } else if (iosPlatforms.indexOf(platform) !== -1) {
                os = 'iOS';
                window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
            } else if (windowsPlatforms.indexOf(platform) !== -1) {
                os = 'Windows';
                window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
            } else if (/Android/.test(userAgent)) {
                os = 'Android';
                window.location.replace('market://details?id=com.viaccc.player&hl=es_419&gl=US')
            } else if (!os && /Linux/.test(platform)) {
                os = 'Linux';
                window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
            }
        }
    }
}
</script>