<template>
    <div>
        <v-container v-if="local" class="d-flex justify-center align-center flex-column full_container">
            <div class="mb-5">
                <v-row no-gutters>
                    <v-col cols="12" class="d-flex justify-center pb-2">
                        <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text">
                            Creá tu cuenta CCCGO
                        </span>
                    </v-col>
                    <v-col cols="12" class="d-flex justify-center">
                        <span class="text-sm-h6 text-subtitle-2 font-weight-regular text-center white--text">
                            <!-- ¿Sos abonado de CCC? --> Validáte ingresando los siguientes datos:
                        </span>
                    </v-col>
                </v-row>
            </div>

            <v-card class="form_container" flat>
                <v-card-text class="px-0">
                    <v-form ref="form" v-model="valid">
                        <v-row no-gutters>
                            <v-col v-if="localFree" cols="12">
                                <v-text-field v-model="nombre" label="Nombre" background-color="white"
                                    class="rounded-lg registro-input" :dense="$vuetify.breakpoint.xsOnly" solo
                                    :rules="[rules.required]" />
                            </v-col>

                            <v-col v-else cols="12">
                                <v-text-field v-model="usuario" label="Número de abonado" background-color="white"
                                    class="rounded-lg registro-input" :dense="$vuetify.breakpoint.xsOnly" solo
                                    :rules="[rules.required]" />
                            </v-col>

                            <v-col v-if="localFree" cols="12" class="pb-0">
                                <v-text-field v-model="apellido" label="Apellido" background-color="white"
                                    class="rounded-lg registro-input" :dense="$vuetify.breakpoint.xsOnly" solo
                                    :rules="[rules.required]" />
                            </v-col>

                            <v-col cols="12" class="pb-0">
                                <v-text-field v-model="dni" type="number" background-color="white"
                                    class="rounded-lg registro-input" :rules="[rules.required]"
                                    :dense="$vuetify.breakpoint.xsOnly" solo label="Nro de DNI" />
                            </v-col>

                            <v-col cols="12" class="pb-0">
                                <v-text-field v-model="email" type="email" background-color="white"
                                    class="rounded-lg registro-input" :rules="[rules.required, rules.email]"
                                    :dense="$vuetify.breakpoint.xsOnly" solo label="Email" />
                            </v-col>

                            <v-col v-if="localFree" cols="12" class="pb-0">
                                <v-text-field v-model="domicilio" background-color="white" class="rounded-lg registro-input"
                                    :rules="[rules.required]" :dense="$vuetify.breakpoint.xsOnly" solo label="Calle" />
                            </v-col>

                            <v-col v-if="localFree" cols="12" class="pb-0">
                                <v-text-field v-model="numero_calle" background-color="white"
                                    class="rounded-lg registro-input" :rules="[rules.required]"
                                    :dense="$vuetify.breakpoint.xsOnly" solo label="Nro. Calle" />
                            </v-col>

                            <v-col v-if="localFree" cols="12" class="pb-0">
                                <v-select v-model="municipio" label="Municipio" :items="municipios" background-color="white"
                                    class="rounded-lg registro-input" :dense="$vuetify.breakpoint.xsOnly" solo />
                            </v-col>

                            <v-col cols="12" class="d-flex justify-center">
                                <span class="text-sm-subtitle-1 font-weight-regular text-center white--text">
                                    Número de teléfono celular de quien sera el <br /> contacto de la cuenta CCCGO
                                </span>
                            </v-col>

                            <v-col cols="12" class="pb-0 d-flex flex-row mt-4">
                                <span class="text-center white--text text-h6 font-weight-bold"> 0 </span>
                                <v-text-field v-model="codArea" background-color="white" class="rounded-lg mx-1"
                                    style="max-width: 90px;" :rules="[rules.required]" dense solo label="C. Área" />
                                <span class="text-center white--text text-h6 font-weight-bold ml-1"> 15 </span>
                                <v-text-field v-model="telNum" background-color="white" class="rounded-lg mx-1"
                                    :rules="[rules.required]" dense solo label="Número" />
                            </v-col>

                            <v-col cols="12" class="d-flex justify-center mt-3">
                                <span class="text-sm-subtitle-1 font-weight-regular text-center white--text">
                                    Te enviaremos un SMS a este número
                                </span>
                            </v-col>

                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-row>
                        <v-col cols="12" class="d-flex justify-center px-1">
                            <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1"
                                block :loading="loading" color="dark-primary"
                                @click="localFree ? validateFreeTrial() : validatePontis()">
                                CONTINUAR
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-card-actions>
            </v-card>


            <v-snackbar v-model="snackbar" :timeout="3000" right top :color="color" elevation="24">
                {{ message }}
            </v-snackbar>
        </v-container>

        <v-container v-else class="d-flex justify-center align-center flex-column full_container">
            <div :class="$vuetify.breakpoint.xsOnly ? 'mt-10' : ''">
                <v-row>
                    <v-col cols="12" class="d-flex justify-center">
                        <v-icon :large="$vuetify.breakpoint.smAndUp" color="secondary-light">
                            mdi-information
                        </v-icon>
                    </v-col>

                    <v-col cols="12" class="d-flex justify-center">
                        <span class="white--text text-center text-h6 text-sm-h5">
                            ¿Sos actualmente abonado de CCC?
                        </span>
                    </v-col>

                    <v-col cols="12" sm="6" class="d-flex justify-sm-end">
                        <v-btn color="success" min-width="220px"
                            class="py-3 elevation-0 rounded-lg text-subtitle-1 font-weight-bold"
                            :block="$vuetify.breakpoint.xsOnly" @click="local = true">
                            SOY ABONADO DE CCC
                        </v-btn>
                    </v-col>

                    <!-- <v-col cols="12" sm="6" class="d-flex justify-start">
                        <v-btn color="warning" min-width="220px"
                            class="py-3 elevation-0 rounded-lg text-subtitle-1 font-weight-bold"
                            :block="$vuetify.breakpoint.xsOnly" to="/usuario-externo">
                            NO SOY ABONADO DE CCC
                        </v-btn>
                    </v-col> -->

                    <v-col cols="12" sm="6" class="d-flex justify-start">
                        <v-btn color="warning" min-width="220px"
                            class="py-3 elevation-0 rounded-lg white--text text-subtitle-1 font-weight-bold"
                            :block="$vuetify.breakpoint.xsOnly" @click="local = true, localFree = true">
                            PRUEBA GRATIS POR 7 DIAS
                        </v-btn>
                    </v-col>

                </v-row>
            </div>
        </v-container>
    </div>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
import EmailSent from '../../components/UI/EmailSent'

export default {
    name: 'Registro',
    components: { EmailSent },
    async beforeMount() {
        await this.$store.dispatch('utils/getCurrentDate')
    },
    computed: {
        ...mapGetters('utils', ['todayDate'])
    },
    data() {
        return {
            local: false,
            localFree: false,
            externo: false,
            ip: '',
            usuario: '',
            nombre: '',
            apellido: '',
            dni: '',
            email: '',
            domicilio: '',
            numero_calle: '',
            municipio: '',
            codArea: '',
            telNum: '',
            addMonthFlag: true,
            loading: false,
            snackbar: false,
            message: '',
            color: '',
            successAlert: false,
            valid: '',
            municipios: [
                'SAN MIGUEL DE TUCUMAN',
                'ALDERETES',
                'BANDA DE RIO SALI',
                'BELLA VISTA',
                'CONCEPCION',
                'CEVIL REDONDO',
                'FAMAILLA',
                'LOS NOGALES',
                'LASTENIA',
                'LULES',
                'MANANTIAL',
                'MONTEROS',
                'TAFI VIEJO',
                'YERBA BUENA',
                'OTRO'
            ],
            rules: {
                required: value => !!value || 'Campo requerido',
                email: v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Debe ingresar un email válido'
            }
        }
    },
    created() {
        fetch('https://api.ipify.org?format=json')
            .then(x => x.json())
            .then(({ ip }) => {
                this.ip = ip
            });
    },
    methods: {
        ...mapMutations('register', ['SET_NUEVO_USUARIO', 'SET_REGISTER_PLAN', 'SET_FREE_USER_FLAG']),
        async validateFreeTrial() {
            this.loading = true;
            /** aqui validar si el numero de celular ya existe en PONTIS. */
            if (this.valid) {
                const phoneNumber = this.codArea + this.telNum

                /** only for testing */
                this.SET_REGISTER_PLAN("")
                this.SET_FREE_USER_FLAG(true)
                this.requestPhoneConfirmation()

                this.loading = false;
                /** end of only for testing */

                /* await this.$store.dispatch('register/checkPhonePontis', phoneNumber).then((res) => {
                    if (res.result.response.customerList.length === 0) {

                        this.SET_REGISTER_PLAN("")
                        this.SET_FREE_USER_FLAG(true)
                        this.requestPhoneConfirmation()

                        this.loading = false;
                    } else {
                        this.showSnackbar('Ya existe una cuenta con ese número de teléfono.', 'error')
                        this.loading = false;
                    }
                }).catch((error) => {
                    this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
                    this.loading = false;
                }) */

            } else {
                this.showSnackbar('Debe completar todos los campos correctamente', 'error')
                this.loading = false;
            }
        },
        async validatePontis() {
            if (this.valid) {
                this.loading = true
                await this.$axios.post(`${process.env.baseURL}/pontis_user_validate.php`, { usuario: `CCC${this.usuario}` }).then(res => {
                    if (res.data.result === null) { // esta validado correctamente en Pontis, ahora puedo pedir validacion en CCC
                        this.validateCCC()
                    } else {
                        this.showSnackbar('Los datos ingresados corresponden a un usuario ya registrado en CCCGO', 'accent')
                    }
                }).catch(err => {
                    this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
                })
                this.loading = false
            } else {
                this.showSnackbar('Debe completar todos los campos correctamente', 'error')
            }
        },
        async validateCCC() {
            const data = {
                usuario: this.usuario,
                dni: this.dni,
                ip: this.ip,
                email: this.email
            }
            await this.$axios.post(`${process.env.baseURL}/bs/validusu.php`, data).then(res => {
                if (res.data.result === 'success') { // esta validado correctamente en CCC, puedo terminar el proceso.
                    this.SET_REGISTER_PLAN(res.data.plan) // seteo plan para saber si es usuario de CCC o externo. "GO" vale para usuarios externos.
                    this.requestPhoneConfirmation()
                } else {
                    this.showSnackbar('Los datos ingresados no corresponden a un abonado de CCC, o se encuentra en mora', 'error')
                }
            }).catch(err => {
                this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
            })
        },
        async requestPhoneConfirmation() {
            this.loading = true
            let payload = {}

            if (this.localFree) {
                payload = {
                    usuario: (this.codArea + this.telNum).toString(),
                    nombre: this.nombre,
                    apellido: this.apellido,
                    celular: this.codArea + this.telNum,
                    mensajeTexto: 'test',
                    email: this.email,
                    domicilio: this.domicilio,
                    numero_calle: this.numero_calle,
                    municipio: this.municipio,
                    dni: parseInt(this.dni),
                    ip: this.ip
                }
            } else {
                payload = {
                    usuario: parseInt(this.usuario),
                    celular: this.codArea + this.telNum,
                    mensajeTexto: 'test',
                    email: this.email,
                    dni: parseInt(this.dni),
                    ip: this.ip
                }
            }

            this.SET_NUEVO_USUARIO(payload)
            console.log('nuevo usuario a enviar sms:', payload)
            await this.$axios.post(`${process.env.baseURL}/bs/smsSendFirebase.php`, payload).then((res) => {
                if (res.data.result === 'success') {
                    this.loading = false
                    this.$router.push('/registro/verificacion')
                } else {
                    this.loading = false
                    this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
                }
            })
            this.loading = false
        },
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        }
    }
}
</script>

<style scoped>
.login_container {
    min-width: 300px;
}
</style>