<template>
    <v-container class="d-flex justify-center align-center full_container">
        <v-card class="form_container" flat>
            <v-card-title class="white--text pb-15">
                <v-row no-gutters>
                    <v-col cols="12" class="d-flex justify-center">
                        <span class="text-h5 font-weight-bold secondary--text">
                            Crear contraseña
                        </span>
                    </v-col>
                    <v-col cols="12" class="d-flex justify-center mt-3 mt-md-0">
                        <span class="text-subtitle-1 text-center font-weight-bold white--text">
                            Ingresá una nueva contraseña para tu cuenta de CCCGO
                        </span>
                    </v-col>
                </v-row>
            </v-card-title>
            <v-card-text>
                <v-form ref="form" v-model="valid">
                    <v-row no-gutters>
                        <v-col cols="12">
                            <v-text-field v-model="password" label="Nueva contraseña"
                                :type="show_password ? 'text' : 'password'" background-color="white" class="rounded-lg"
                                :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'" solo :rules="[rules.required]"
                                @click:append="show_password = !show_password" />
                        </v-col>

                        <v-col cols="12" class="pb-0">
                            <v-text-field v-model="repeat_password" :type="show_password ? 'text' : 'password'"
                                background-color="white" class="rounded-lg"
                                :append-icon="show_password ? 'mdi-eye' : 'mdi-eye-off'" :rules="[rules.required]" solo
                                label="Repetí tu contraseña" @click:append="show_password = !show_password" />
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-row>
                    <v-col cols="12" class="d-flex justify-center">
                        <v-btn
                            class="text-capitalize px-15 elevation-0 font-weight-bold white--text rounded-lg py-7 text-subtitle-1"
                            block :loading="loading" color="dark-primary" @click="nextStep()">
                            CONTINUAR
                        </v-btn>
                    </v-col>
                </v-row>
            </v-card-actions>
        </v-card>

        <v-snackbar v-model="snackbar" :timeout="3000" right top :color="color" elevation="24">
            {{ message }}
        </v-snackbar>
    </v-container>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'
export default {
    name: 'Password',
    data() {
        return {
            snackbar: false,
            message: '',
            color: '',
            usuario: '',
            password: '',
            repeat_password: '',
            show_password: false,
            loading: false,
            valid: '',
            rules: {
                required: value => !!value || 'Campo requerido',
                email: v => !v || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'Debe ingresar un email válido'
            }
        }
    },
    methods: {
        ...mapMutations('register', ['SET_TEMP_PASSWORD']),
        nextStep() {
            if (this.valid) {
                if (this.password === this.repeat_password) {
                    this.SET_TEMP_PASSWORD(this.password)
                    this.$router.push('/registro/seleccion-paquete')
                } else {
                    this.showSnackbar('Las contraseñas no coinciden', 'error')
                }
            } else {
                this.showSnackbar('Debe completar todos los campos correctamente', 'error')
            }
        },
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        }
    }
}
</script>

<style scoped>
.login_container {
    min-width: 300px;
}
</style>