<template>
    <v-container class="d-flex justify-center align-center full_container">
        <v-row v-if="false">
            <v-col cols="12" class="d-flex justify-center">
                <span class="text-h5 text-sm-h4 text-center mb-3 mb-sm-10 font-weight-bold secondary--text">
                    Elegí tu paquete CCCGO
                </span>
            </v-col>
            <v-col v-for="(paquete, index) in paquetes" :key="index" cols="12"
                :class="['d-flex flex-column', index == 1 ? 'mt-8 mt-md-0' : '']">
                <div class="d-flex flex-row mb-5" style="margin: 0 auto;">
                    <div v-for="(icon, j) in paquete.icons" :key="j">
                        <v-icon :size="iconSize()" color="white">
                            {{ icon }}
                        </v-icon>
                        <span v-if="j < paquete.icons.length - 1" class="white--text text-h5 mx-3">
                            +
                        </span>
                    </div>
                </div>

                <div class="d-flex flex-column justify-center">
                    <span class="secondary-light--text font-weight-black text-h6 text-sm-h5 text-center">
                        {{ paquete.title }}
                    </span>

                    <!-- <span class="white--text font-weight-bold text-subtitle-1 text-sm-h6 text-center">
            Abono ${{ registerPlan === 'GO' ? '1600' : '1300' }}
          </span>

          <span class="white--text font-weight-bold text-subtitle-1 text-sm-h6 text-center">
            Hasta {{ paquete.devices_amount }} dispositivos
          </span> -->

                    <div class="d-flex flex-column">
                        <span class="white--text text-body-2 text-sm-body-1 text-center font-weight-bold mt-5 mb-3">
                            {{ paquete.secondary_description.title }}
                        </span>

                        <span v-for="item in paquete.secondary_description.list" :key="item"
                            class="white--text text-body-2 text-sm-body-1 text-center">
                            - {{ item.text }}
                        </span>

                        <span class="white--text font-weight-bold text-h6 text-sm-h5 text-center mt-3">
                            Abono ${{ registerPlan === 'GO' ? '1600' : '1300' }}/mes
                        </span>
                    </div>



                    <div class="d-flex justify-center description-box mt-6">
                        <span class="white--text text-body-2 text-sm-body-1 text-center mt-5 px-4 px-md-0"
                            style="max-width:500px; margin: 0 auto;">
                            {{ paquete.description }}
                        </span>
                    </div>

                    <v-btn
                        class="elevation-0 rounded-lg py-7 mt-5 mt-md-0 font-weight-bold white--text text-subtitle-2 text-md-subtitle-1"
                        color="dark-primary" :loading="loading" @click="finishProcess(paquete.abbr_title)"
                        style="min-width: 200px; margin: 0 auto;">
                        <!-- ELEGIR {{ paquete.abbr_title }} -->
                        CONTINUAR
                    </v-btn>
                </div>
            </v-col>
        </v-row>

        <v-overlay v-if="true" z-index="1000">
            <v-progress-circular indeterminate size="80" color="secondary"></v-progress-circular>
        </v-overlay>

        <v-snackbar v-model="snackbar" :timeout="3000" right top :color="color" elevation="24">
            {{ message }}
        </v-snackbar>
    </v-container>
</template>

<script>
import { mapMutations, mapGetters } from 'vuex'

export default {
    name: 'SeleccionPaquete',
    computed: {
        ...mapGetters('register', ['nuevoUsuario', 'tempPassword', 'registerPlan', 'freeUserFlag']),
        ...mapGetters('utils', ['expireDateTemp', 'todayDate'])
    },
    beforeCreate() {

    },
    created() {
        this.$store.dispatch('utils/getCurrentDate')
        this.finishProcess('FULL/MULTIPANTALLA')
    },
    data() {
        return {
            snackbar: false,
            message: '',
            color: '',
            ip: '',
            loading: false,
            paquetes: [
                {
                    title: 'CCCGO FULL/MULTIPANTALLA',
                    abbr_title: 'FULL/MULTIPANTALLA',
                    price: this.registerPlan,
                    devices_amount: '5',
                    icons: ['mdi-television', 'mdi-tablet', 'mdi-cellphone'],
                    description: 'La app para TV de CCCGO funciona exclusivamente con ANDROID TV. Si tenes un smart TV con ANDROID TV no necesitás nada mas. Si no, te proveemos de módulos CCCGO TV (uno o los que necesites), compatibles con ANDROID TV, con control remoto.',
                    secondary_description: {
                        title: 'Podés acceder simultáneamente desde hasta 5 dispositivos:',
                        list: [
                            { text: '3 dispositivos móviles (celulares o tablets)' },
                            { text: '2 TV con sistema operativo ANDROID TV' }
                        ]
                    }
                },
                /* {
                  title: 'CCCGO MÓVIL',
                  abbr_title: 'MÓVIL',
                  price: '800',
                  devices_amount: '3',
                  icons: ['mdi-tablet', 'mdi-cellphone'],
                  description: 'Con los primeros 7 días de prueba GRATIS.'
                } */
            ]
        }
    },
    methods: {
        ...mapMutations('register', ['SET_NUEVO_USUARIO', 'SET_TEMP_NEW_FREE_ID']),
        async finishProcess(packetName) {
            if (this.freeUserFlag) {
                await this.$axios.get(`https://goccc-1d61d.firebaseio.com/free_users/latest_id.json`).then((res) => {
                    const newUserId = parseInt(res.data) + 1
                    this.SET_TEMP_NEW_FREE_ID(newUserId)

                    const finalData = {
                        tipogo: packetName === 'FULL/MULTIPANTALLA' ? 'full' : 'movil',
                        ip: this.nuevoUsuario.ip,
                        password: this.tempPassword,
                        email: this.nuevoUsuario.email,
                        domicilio: this.nuevoUsuario.domicilio,
                        numero_calle: this.nuevoUsuario.numero_calle,
                        municipio: this.nuevoUsuario.municipio,
                        dni: this.nuevoUsuario.dni,
                        trial_user: true,
                        expireDate: this.calculateWeek(),
                        nombre: this.nuevoUsuario.nombre,
                        apellido: this.nuevoUsuario.apellido,
                        celular: this.nuevoUsuario.celular,
                        usuario: `CCC${newUserId.toString()}` // Id para usuarios free
                    }

                    this.SET_NUEVO_USUARIO(finalData)

                    this.$router.push('/registro/finalizar')

                }).catch((error) => {
                    this.showSnackbar('Ocurrio un error. Por favor, intente luego nuevamente.', 'error')
                })
            } else {
                const finalData = {
                    tipogo: packetName === 'FULL/MULTIPANTALLA' ? 'full' : 'movil',
                    ip: this.nuevoUsuario.ip,
                    password: this.tempPassword,
                    email: this.nuevoUsuario.email,
                    dni: this.nuevoUsuario.dni,
                    expireDate: null,
                    celular: this.nuevoUsuario.celular,
                    usuario: this.nuevoUsuario.usuario
                }

                this.SET_NUEVO_USUARIO(finalData)

                this.$router.push('/registro/finalizar')
            }
        },
        calculateWeek() {
            let formattedToday = new Date()
            let nextWeek = new Date(formattedToday.getTime() + 7 * 24 * 60 * 60 * 1000)

            let year = nextWeek.getFullYear()
            let month = nextWeek.getMonth() + 1
            let day = nextWeek.getDate()

            if (day < 10) day = '0' + day
            if (month < 10) month = '0' + month

            return day + '/' + month + '/' + year
        },
        iconSize() {
            switch (this.$vuetify.breakpoint.name) {
                case 'xs':
                case 'sm':
                    return '45px'
                case 'md':
                case 'lg':
                case 'xl':
                    return '70px'
            }
        },
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        }
    }
}
</script>

<style scoped>
.description-box {
    min-height: 150px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .description-box {
        align-items: initial;
        min-height: 0;
    }
}
</style>