<template>
  <v-container class="d-flex justify-center flex-column align-center full_container">
    <div class="d-flex flex-column">
      <v-img 
        :src="require('~/assets/images/smartstick.png')"
        :max-width="$vuetify.breakpoint.smAndDown ? '150px' : '300px'"
        class="mx-auto mb-sm-5 mb-3"
        contain
      />
      
      <div :style="$vuetify.breakpoint.smAndUp ? 'max-width: 900px; text-align: center;' : ''">
        <span class="white--text text-sm-subtitle-1 text-subtitle-2 font-weight-regular">
          Si NO contás con un smartTV con sistema operativo ANDROID TV, o con alguna caja o stick compatible con ANDROID TV, podés comprar nuestro SmartStick HD CCCGO para ANDROID TV con control remoto haciendo click aquí
        </span>
      </div>

      <div class="d-flex justify-center mt-5">
        <v-btn class="pa-5 elevation-0 rounded-lg font-weight-bold white--text text-caption text-sm-subtitle-1" :loading="loading" small color="secondary" @click="redirect()">
          COMPRAR SMARTSTICK CCCGO
        </v-btn>
      </div>


      <span class="white--text text-subtitle-1 font-weight-regular text-sm-h6 text-center mt-15">
        Si no necesitás comprar SMARTSTICK, ¡empezá a disfrutar de CCCGO!
      </span>

      <div class="d-flex justify-center mt-5">
        <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1" :loading="loading" color="dark-primary" @click="openStore()">
          IR A LA APP
        </v-btn>
      </div>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'Tienda',
  methods: {
    openStore() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
        os = 'Mac OS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (iosPlatforms.indexOf(platform) !== -1) {
        os = 'iOS';
        window.location.replace('https://apps.apple.com/us/app/cccgo/id1518917723')
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
        os = 'Windows';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (/Android/.test(userAgent)) {
        os = 'Android';
        window.location.replace('market://details?id=com.viaccc.player&hl=es_419&gl=US')
      } else if (!os && /Linux/.test(platform)) {
        os = 'Linux';
        window.location.replace('http://play.google.com/store/apps/details?id=com.viaccc.player&hl=es_419&gl=US')
      }
    },
    redirect() {
      if (process.client) {
        window.location.href = 'https://mpago.la/2V7VMAP'
      }
    }
  }
}
</script>