<template>
    <v-container class="d-flex justify-center align-center full_container">
        <div class="d-flex flex-column mt-15 mt-md-0">
            <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text">
                Verificá tu celular
            </span>

            <span class="white--text text-subtitle-1 mt-5 text-center">
                Ingresá el código numérico que te enviamos por SMS a tu celular
            </span>

            <div class="inputs-container d-flex flex-row">
                <input v-model="code1" class="code-input white mx-1 text-h5" autofocus maxlength="1" required />
                <input v-model="code2" class="code-input white mx-1 text-h5" maxlength="1" required />
                <input v-model="code3" class="code-input white mx-1 text-h5" maxlength="1" required />
                <input v-model="code4" class="code-input white mx-1 text-h5" maxlength="1" required />
                <input v-model="code5" class="code-input white mx-1 text-h5" maxlength="1" required />
            </div>

            <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1" block
                :loading="loading" color="dark" @click="checkCode()">
                CONTINUAR
            </v-btn>
        </div>

        <v-snackbar v-model="snackbar" :timeout="timeout" right top :color="color" elevation="24">
            <span class="font-weight-bold">
                {{ message }}
            </span>
        </v-snackbar>
    </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'Verificacion',
    data() {
        return {
            code1: '',
            code2: '',
            code3: '',
            code4: '',
            code5: '',
            inputOnFocus: 0,
            counter: 1,
            rules: {
                required: value => !!value || 'Campo requerido'
            },
            loading: false,
            color: '',
            snackbar: false,
            timeout: 3000,
            message: '',
        }
    },
    mounted() {
        const inputElements = document.querySelectorAll(".code-input")
        console.log('Input elements =>', inputElements)

        inputElements.forEach((element, index) => {
            element.addEventListener('input', () => {
                if (index < inputElements.length - 1 && element.value !== '') {
                    inputElements[index + 1].focus()
                    console.log(element.value)
                } else if (index === inputElements.length - 1) {
                    console.log(element.value)
                }
            })
        })
    },
    computed: {
        ...mapGetters('register', ['nuevoUsuario'])
    },
    methods: {
        showSnackbar(body, color) {
            this.snackbar = true
            this.color = color
            this.message = body
        },
        async checkCode() {
            const fullCode = this.code1 + this.code2 + this.code3 + this.code4 + this.code5

            if (fullCode.length === 5) {
                this.loading = true

                const userdata = {
                    user: this.nuevoUsuario.usuario,
                    code: fullCode
                }

                console.log('USER DATA =>', userdata)

                await this.$axios.post(`${process.env.baseURL}/bs/checkSmsCode.php`, userdata).then((response) => {
                    if (response.data.status === 'success') { // CODIGO CORRECTO
                        this.$axios.post(`${process.env.baseURL}/bs/deleteSmsCode.php`, userdata).then((res) => { // borro codigo almacenado para no sobrecargar DB
                            console.log('Code deleted from Firebase.')
                            this.$router.push('/registro/password')
                        })
                    } else if (response.status === 'expired') { // CODIGO EXPIRADO
                        this.showSnackbar('Su código de verificación ha expirado. Por favor, inicie el proceso de registro nuevamente.', 'warning')
                    } else { // CODIGO INCORRECTO
                        this.showSnackbar('Su código ingresado no es valido.', 'error')
                    }
                })

                this.loading = false
            } else {
                this.showSnackbar('Ingrese un código válido', 'warning')
            }
        }
    }
}
</script>

<style scoped>
.inputs-container {
    margin: 30px auto;
}

.code-input {
    max-width: 54px;
    min-height: 40px;
    text-align: center;
    border-radius: 5px;
}

.code-input:focus-visible {
    outline-color: #1D305B !important;
}
</style>