<template>
    <div>
        <v-container class="d-flex justify-center align-center full_container activar-info-container">
            <div class="d-flex flex-column mt-10">
                <v-icon color="success" class="mb-4" x-large>
                    mdi-check-outline
                </v-icon>

                <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text mb-5">
                    BIENVENIDO A CCCGO!
                </span>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Recordá que podes acceder desde 3 dispositivos móviles (celulares o tablets) y desde 2 Smart TVs con
                    Android TV.
                </p>

                <p class="white--text text-md-h5 text-subtitle-2 text-center">
                    Recibirás la factura de tu servicio exclusivamente en la casilla de mail que informaste para tu
                    prueba gratuita.
                </p>

                <nuxt-link to="/">
                    <v-btn
                        class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-md-subtitle-1 text-subtitle-2 mt-3"
                        :loading="loading" color="dark-primary" style="width: 100%;">
                        FINALIZAR
                    </v-btn>
                </nuxt-link>

                <p class="white--text text-md-subtitle-1 text-subtitle-2 text-center mt-5">
                    (*) Si no tenés un smart TV con Android TV, mandános un <a href="#" class="warning--text"
                        @click="redirectWhatsapp()">Whatsapp</a> y te contaremos cómo adquirir un equipo que convierta tu TV
                    digital en un Smart TV con Android TV.
                </p>
            </div>
        </v-container>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
    name: 'Activar',
    created() {
        this.SET_FREE_USER_CONFIRMED(true)
        this.SET_CHANGE_FLAG(true)
        console.log('setting change flag...')
    },
    methods: {
        ...mapMutations('customer', ['SET_FREE_USER_CONFIRMED', 'SET_CHANGE_FLAG']),
        redirectWhatsapp() {
            if (process.client) {
                /* window.location.href = `https://api.whatsapp.com/send?phone=${process.env.WHATSAPP_SUPPORT}` */
                window.location.href = `https://api.whatsapp.com/send?phone=5493816344658`
            }
        },
    }
}
</script>

<style scoped>
.activar-info-container {
    max-width: 800px;
    overflow-x: hidden;
}
</style>