<template>
  <v-snackbar
    v-model="input_snackbar"
    class="snackbar__modifier"
    :bottom="snackbar.y === 'bottom'"
    :left="snackbar.x === 'left'"
    :right="snackbar.x === 'right'"
    :timeout="snackbar.timeout"
    :color="snackbar.color"
    :top="snackbar.y === 'top'"
    >{{ snackbar.message }}</v-snackbar
  >
</template>

<script>
import { mapMutations, mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      snackbar: (state) => state.snackbar
    }),
    input_snackbar: {
      get() {
        return this.$store.state.snackbar.state
      },
      set(value) {
        this.SHOW_SNACKBAR_STATE(value)
      }
    }
  },
  methods: {
    ...mapMutations(['SHOW_SNACKBAR_STATE'])
  }
}
</script>