.main_app {
  /* background-color: #1D305B; */
  background: linear-gradient(to bottom, #1D305B, #3b63c3, #50c1ec)
}
.pointer {
  cursor: pointer !important;
}
.form_container {
  min-width: 18.75rem !important;
  max-width: 31.25rem !important;
  background-color: transparent !important;
}

.full_container {
  min-height: calc(100vh - 9.063rem);
  overflow: auto;
}
@media screen and (max-height: 750px) {
  .full_container {
    height: auto;
  }
}

.cuenta_container {
  width: 100vw !important;
}

span {
  word-break: normal !important;
}
