<template>
  <v-app dark>
    <v-app-bar
      :clipped-left="clipped"
      fixed
      app
      class="black white--text"
    >
      <v-toolbar-title class="pointer" @click="$router.push('/')">
        <v-img :src="require('@/assets/images/logo.png')" height="2.5rem" width="9.375rem" contain />
      </v-toolbar-title>
      <v-spacer />

      <div v-if="$auth.loggedIn && !$vuetify.breakpoint.smAndDown" @click.stop="rightDrawer = !rightDrawer" class="pointer">
        <span class="text-capitalize text-body-2 white--text">
          {{ $auth.user.customer.firstName && $auth.user.customer.lastName ? `${$auth.user.customer.firstName} ${$auth.user.customer.lastName}` : 'Usuario' }}
        </span>

        <v-icon color="info" large>
          mdi-account-circle
        </v-icon>
      </div>

      <v-btn v-else class="text-capitalize" color="white" text @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main class="main_app">
      <v-container>
        <nuxt />

        <v-btn v-if="$auth.loggedIn" fab color="green accent-3" class="wp-button" @mouseenter="$vuetify.breakpoint.smAndUp ? showHelp = true : null" @mouseleave="$vuetify.breakpoint.smAndUp ? showHelp = false : null" :small="$vuetify.breakpoint.xsOnly" @click="redirectWhatsapp()">
          <v-icon color="white">
            mdi-whatsapp
          </v-icon>
        </v-btn>

        <v-card v-if="showHelp" class="rounded-lg asesoramiento-card">
          <v-card-title class="text-subtitle-1 font-weight-bold primary--text d-flex justify-center pb-1">
            ¿Necesitas ayuda?
          </v-card-title>

          <v-card-text class="d-flex justify-center text-center">
            Hacé click para comunicarte con nosotros a través de Whatsapp para brindarte asesoramiento
          </v-card-text>
        </v-card>
      </v-container>
    </v-main>

    <v-navigation-drawer
      v-model="rightDrawer"
      right
      temporary
      fixed
      :style="$vuetify.breakpoint.smAndUp ? 'min-width: 300px;' : ''"
    >
      <v-list>
        <v-list-item v-if="$auth.loggedIn" class="pointer" @click="verCuenta()">
          <v-list-item-action>
            <v-icon light>
              mdi-account
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>
            <span class="text-body-2">
              Mi CCCGO
            </span>
          </v-list-item-title>
        </v-list-item>

        <!-- <v-list-item v-if="$auth.loggedIn" class="pointer" @click="comprarStick()">
          <v-list-item-action>
            <v-icon light>
              mdi-shopping
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>
            <span class="text-body-2">
              Comprar SmartStick CCCGO
            </span>
          </v-list-item-title>
        </v-list-item> -->

        <v-list-item class="pointer" @click="redirigirPoliticas()">
          <v-list-item-action>
            <v-icon light>
              mdi-information-outline
            </v-icon>
          </v-list-item-action>
          <v-list-item-title>
            <span class="text-body-2">
              Terminos y Condiciones
            </span>
          </v-list-item-title>
        </v-list-item>

        <v-list-item v-if="$auth.loggedIn" class="pointer" @click="logout()">
          <v-list-item-action>
            <v-icon v-if="!loading" light>
              mdi-logout
            </v-icon>
            <v-progress-circular v-else indeterminate color="primary" />
          </v-list-item-action>
          <v-list-item-title>
            <span class="text-body-2">
              Cerrar sesión
            </span>
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-footer
      :absolute="!fixed"
      app
      class="justify-center text-center footer white--text"
    >
      <!-- <span class="text-caption">Copyright &copy; {{ new Date().getFullYear() }} CCCGo. Todos los derechos reservados</span> -->
      <v-row no-gutters>
        <v-col cols="12" class="d-flex justify-center pb-1">
          <v-img :src="require('@/assets/images/logo.png')" height="1.2rem" contain />
        </v-col>
        <v-col cols="12" class="d-flex justify-center">
          <span class="text-caption">Copyright &copy; {{ new Date().getFullYear() }} CCCGo. Todos los derechos reservados.</span>
        </v-col>
      </v-row>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'CCCGo',
      loading: false,
      showHelp: false
    }
  },
  methods: {
    verCuenta() {
      this.$router.push(`/cuenta/${this.$auth.user.customer.customerId}`)
    },
    async logout() {
      this.loading = true
      await this.$auth.logout()
      this.loading = false
      this.$router.push('/')
    },
    redirigirPoliticas() {
      if (process.client) {
        window.open('http://www.viaccc.com/politicas_privacidad.aspx', '_blank')
      }
    },
    redirectWhatsapp() {
      if (process.client) {
        /* window.location.href = `https://api.whatsapp.com/send?phone=${process.env.WHATSAPP_SUPPORT}` */
        window.location.href = `https://api.whatsapp.com/send?phone=5493816344658`
      }
    },
    comprarStick() {
      if (process.client) {
        window.location.href = 'https://mpago.la/2V7VMAP'
      }
    }
  }
}
</script>

<style>
.footer {
  background: linear-gradient(to bottom, #545454, #3a3a3a);
}
.wp-button {
  position: absolute;
  right: 15px;
  margin-top: -60px;
  z-index: 10000;
}
@media screen and (max-width: 600px) {
  .wp-button {
    position: sticky;
    bottom: 0;
    float: right;
  }
}
.asesoramiento-card {
  max-width: 400px;
  position: absolute;
  right: 80px;
  margin-top: -100px;
  z-index: 10000;
  -webkit-box-shadow: 0px 0px 25px 4px rgba(136,136,136,1) !important;
  -moz-box-shadow: 0px 0px 25px 4px rgba(136,136,136,1) !important;
  box-shadow: 0px 0px 25px 4px rgba(136,136,136,1) !important;
}
</style>
