<template>
  <v-container class="d-flex justify-center align-center full_container">
    <div v-if="!finished">
      <v-row no-gutters>
        <v-col cols="12" class="d-flex justify-center pb-2 mb-5">
          <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text">
            Ingresá los siguientes datos:
          </span>
        </v-col>
      </v-row>

      <v-card class="form_container" flat>
        <v-card-text class="px-0">
          <v-form ref="form" v-model="valid">
            <v-row no-gutters>
              <v-col cols="12">
                <v-text-field 
                  v-model="nombre"
                  label="Nombre y Apellido"
                  background-color="white"
                  class="rounded-lg registro-input"
                  :dense="$vuetify.breakpoint.xsOnly"
                  solo
                  :rules="[rules.required]"
                />
              </v-col>

              <v-col cols="12" class="d-flex justify-center mt-8">
                <span class="text-sm-body-1 font-weight-regular text-center white--text">
                  Número de teléfono celular de quien será el contacto de la cuenta CCCGO
                </span>
              </v-col>

              <v-col cols="12" class="pb-0 d-flex flex-row mt-4">
                <span class="text-center white--text text-h6 font-weight-bold"> 0 </span>
                <v-text-field 
                  v-model="codArea" 
                  background-color="white"
                  class="rounded-lg mx-1"
                  style="max-width: 90px;" 
                  :rules="[rules.required]" 
                  dense 
                  solo 
                  label="C. Área" 
                />
                <span class="text-center white--text text-h6 font-weight-bold ml-1"> 15 </span>
                <v-text-field 
                  v-model="telNum" 
                  background-color="white"
                  class="rounded-lg mx-1"
                  :rules="[rules.required]" 
                  dense 
                  solo 
                  label="Número" 
                />
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>

        <v-card-actions>
          <v-row>
            <v-col cols="12" class="d-flex justify-center px-1">
              <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1" block :loading="loading" color="dark-primary" @click="sendData()">
                CONTINUAR
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>

    </div>

    <div v-else class="d-flex justify-center flex-column">
      <div class="d-flex justify-center">
        <v-icon class="eye_icon mb-5" large color="success">
          mdi-check-circle
        </v-icon>
      </div>  
      
      <span class="white--text text-center text-h5">
        Muchas gracias por contactarnos! <br />
        Un ejecutivo se comunicará con usted en las próximas 24 horas para indicarle los pasos a seguir y poder disfrutar de CCCGO
      </span>

      <div class="mt-12 d-flex justify-center" style="max-width: 280px; margin: 0 auto;">
        <v-btn class="white--text px-15 elevation-0 rounded-lg py-7 font-weight-bold text-subtitle-1" block color="dark-primary" to="/">
          FINALIZAR
        </v-btn> 
      </div>
    </div>

    <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        right
        top
        :color="color"
        elevation="24"
      >
        {{ message }}
      </v-snackbar>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      overlay: true,
      rules: { required: value => !!value || 'Campo requerido' },
      nombre: '',
      codArea: '',
      telNum: '',
      valid: false,
      loading: false,
      snackbar: false,
      message: '',
      color: '',
      finished: false
    }
  },
  methods: {
    async sendData() {
      if (this.valid) {
        this.loading = true

        const data = {
          nombre: this.nombre,
          telefono: this.codArea + this.telNum
        }

        await this.$store.dispatch('register/notifyCallCenter', data).then((res) => {
          this.finished = true
        }).catch((error) => {
          this.showSnackbar('Ocurrio un error. Por favor, intente nuevamente', 'error')
        })

        this.loading = false
      } else {
        this.showSnackbar('Por favor, completa los campos correctamente!', 'warning')
      }
    },
    showSnackbar(body, color) {
      this.snackbar = true
      this.color = color
      this.message = body
    }
  }
}
</script>

<style scoped>
@media screen and (max-width: 600px) {
  .registro-input {
    max-width: 200px;
    margin: 0 auto;
  }
}
</style>