<template>
    <div class="d-flex flex-column">
        <span class="text-center font-weight-bold text-h5 secondary-light--text">
            Ya completaste tu cuenta CCCGO y te suscribiste al paquete <br /> CCCGO MÓVIL!
        </span>

        <span class="white--text text-h5 text-center mt-10">
            Tu nombre de usuario es CCC{{ user.usuario }}
        </span>

        <div class="d-flex justify-center">
            <span class="white--text text-h5">
                Tu contraseña es <span v-if="showPassword">{{ pass }}</span><span v-else v-for="letter in pass.length"
                    :key="letter" class="white--text text-h6">*</span>
            </span>

            <v-icon class="eye_icon ml-2" small color="white" v-on="on" @click="showPassword = !showPassword">
                {{ showPassword? 'mdi-eye': 'mdi-eye-off' }}
            </v-icon>
        </div>

        <span class="white--text text-subtitle-1 text-center mt-10">
            Con estas credenciales ya podés acceder a CCCGO desde tus dispositivos. <br /> ¡No los olvides!
        </span>

        <span class="white--text text-subtitle-1 text-center mt-10">
            Hacé click en FINALIZAR y empezá tu prueba GRATIS por 7 días
        </span>

        <div class="my-5 d-flex justify-center">
            <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1"
                :loading="loading" color="dark-primary" @click="finalizar()">
                FINALIZAR
            </v-btn>
        </div>

        <span class="white--text text-subtitle-1 text-center mt-10">
            Terminada tu prueba GRATIS de 7 días, tu suscripción quedará confirmada. <br /> Para evitarlo, y antes de
            que la misma finalice, ingresá con tus mismas credenciales <br /> a Mi CCCGO desde nuestra página web, y
            elegí la opción Cancelar suscripción CCCGO MÓVIL.
        </span>
    </div>
</template>

<script>
export default {
    name: 'LastStepMovil',
    props: {
        user: {
            type: Object,
            default: {}
        },
        pass: {
            type: String,
            default: ''
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            showPassword: false
        }
    },
    methods: {
        finalizar() {
            this.$emit('finalizar')
        }
    }
}
</script>