<template>
    <div class="d-flex flex-column">
        <span class="text-center font-weight-bold text-h6 text-md-h5 secondary-light--text px-2 px-md-0">
            Felicitaciones, {{ freeUserFlag ? 'ya iniciaste tu prueba gratuita de CCCGO!' : 'ya creaste tu cuenta CCCGO!' }}
        </span>

        <span class="white--text text-h6 text-md-h5 text-center mt-10">
            Tu nombre de usuario es {{ freeUserFlag? '': 'CCC' }}{{ user.usuario }}
        </span>

        <div class="d-flex justify-center">
            <span class="white--text text-h6 text-md-h5">
                Tu contraseña es <span v-if="showPassword">{{ pass }}</span><span v-else v-for="letter in pass.length"
                    :key="letter" class="white--text text-h6">*</span>
            </span>

            <v-icon class="eye_icon ml-2" small color="white" v-on="on" @click="showPassword = !showPassword">
                {{ showPassword? 'mdi-eye': 'mdi-eye-off' }}
            </v-icon>
        </div>

        <!-- <span class="white--text text-subtitle-1 text-center mt-10">
            Con estas credenciales accederás a CCCGO desde tus dispositivos. <br /> ¡No las olvides!
        </span> -->
        <span class="white--text text-subtitle-1 text-center mt-10">
            Recordá que podrás acceder desde tu celular, tablet o smart TV con Android TV.
        </span>
        <span class="white--text text-subtitle-1 text-center mt-10">
            Poné ACEPTAR, abrí la APP de CCCGO y empezá a disfrutar de CCCGO!
        </span>

        <div class="my-5 d-flex justify-center">
            <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-subtitle-1"
                :loading="loading" color="dark-primary" @click="finalizar()">
                ACEPTAR
            </v-btn>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
    name: 'LastStepMultiPantalla',
    props: {
        user: {
            type: Object,
            default: {}
        },
        pass: {
            type: String,
            default: ''
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        ...mapGetters('register', ['nuevoUsuario', 'tempPassword', 'freeUserFlag'])
    },
    data() {
        return {
            showPassword: false,
            loading: false
        }
    },
    methods: {
        finalizar() {
            this.$emit('finalizar')
        },
        /* async irTienda() {
          this.loading = true
          const finalData = {
            tipogo: this.nuevoUsuario.tipogo,
            ip: this.nuevoUsuario.ip,
            password: this.tempPassword,
            mail: this.nuevoUsuario.email,
            dni: this.nuevoUsuario.dni,
            expireDate: null,
            celular: this.nuevoUsuario.celular,
            usuario: this.nuevoUsuario.usuario
          }
          await this.$axios.post(`${process.env.baseURL}/bs/creausu.php`, finalData).then((response) => {
            if (response.data.result === 'success') {
              this.$router.push('/compras/info')
            }
          }).catch((error) => {
            this.showSnackbar(error)
          })
          this.loading = false
        } */
    }
}
</script>