<template>
  <div>
    <v-container class="d-flex justify-center align-center full_container">
      <div class="d-flex flex-column mt-10">
        <span class="text-sm-h5 text-h6 text-center font-weight-bold secondary--text mb-5">
          Comprá tu smartstick CCCGO
        </span>

        <p class="white--text text-md-subtitle-1 text-subtitle-2 text-center">
          Tu smartstick CCCGO funciona con ANDROID TV, se conecta a la entrada HDMI <br /> de tu LED o Smart TV, y te permite acceder a todas tus aplicaciones de contenidos <br /> (Netflix, YouTube, etc.)
        </p>

        <p class="white--text text-md-subtitle-1 text-subtitle-2 text-center">
          Su precio es de $7900 y podes adquirirlo en 12 cuotas sin interés, <br /> y elegir retirarlo de una de nuestras sucursales, o recibirlo sin costo de envio a tu domicilio.
        </p>

        <v-btn class="px-15 elevation-0 rounded-lg py-7 font-weight-bold white--text text-md-subtitle-1 text-subtitle-2 mt-3" :loading="loading" color="dark-primary" @click="redirect()">
          IR A LA TIENDA
        </v-btn>
      </div>
    </v-container>
  </div>
</template>

<script>
export default {
  name: 'Info',
  methods: {
    redirect() {
      if (process.client) {
        /* window.location.href = 'https://tienda.viumi.com.ar/ccc' */
        window.location.href = 'https://mpago.la/2V7VMAP'
      }
    }
  }
}
</script>