<template>
    <v-container class="d-flex justify-center flex-column pt-15">
        <span class="white--text text-center font-weight-bold text-h6">
            ATENCIÓN
        </span>

        <v-icon color="info" class="mt-5" size="50px">
            mdi-alert-circle
        </v-icon>

        <span class="white--text text-center text-h6 font-weight-light mt-10">
            Haciendo clic en <b>CONFIRMAR</b> confirmás tu suscripción a CCCGO, y finaliza el período gratuito de prueba que
            se inició al crear tu cuenta
        </span>


        <v-btn class="white--text px-15 my-15 elevation-0 rounded-lg py-7 font-weight-bold text-subtitle-1"
            :loading="loading" color="secondary" @click="confirmar()">
            <span>
                Confirmar
            </span>
        </v-btn>
    </v-container>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
    data() {
        return {
            loading: false,
            color: '',
            snackbar: false,
            timeout: 3000,
            message: ''
        }
    },
    methods: {
        ...mapMutations('customer', ['SET_CHANGE_FLAG']),
        async confirmar() {
            await this.estadoActivo().then((response) => {
                this.confirmarSuscripcion()
            }).catch((error) => {
                console.log(error)
            })
        },
        estadoActivo() {
            this.loading = true
            const id = this.$auth.user.customer.customerId
            return new Promise((resolve, reject) => {
                this.$axios.post(`${process.env.baseURL}/set_status.php`, { id: id }).then((res) => {
                    resolve('success')
                }).catch((error) => {
                    this.showSnackbar('Ocurrio un problema, por favor intente nuevamente.', 'error', 3000)
                    reject(error)
                    this.loading = false
                })
            })
        },
        async confirmarSuscripcion() {
            this.loading = true
            const id = this.$auth.user.customer.customerId
            await this.$axios.post(`${process.env.baseURL}/remove_expirate_date_pontis.php`, { id: id }).then((res) => {
                this.$router.push(`/cuenta/${id}`)
                this.SET_CHANGE_FLAG(true)
            }).catch((error) => {
                this.showSnackbar('Ocurrio un problema, por favor intente nuevamente.', 'error', 3000)
                console.log(error)
            })
            this.loading = false
        },
        showSnackbar(body, color, timeout) {
            this.snackbar = true
            this.color = color
            this.message = body
            this.timeout = timeout
        }
    }
}
</script>